.arrow {
  position: relative;
  bottom: 0px;
  width: 100%;
  left: 0;
  background: #2c2b31;

  &:before,&:after {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 50%;
    box-sizing: border-box;
  }

  &:after {
    left: 50%;
    border-bottom: 1rem solid rgb(239, 240, 253);
    border-left: 1rem solid transparent;
  }

  &:before {
    right: 50%;
    border-bottom: 1rem solid rgb(239, 240, 253);
    border-bottom: 1rem solid rgb(239, 240, 253);
    border-right: 1rem solid transparent;
  }

  .arrow-button {
    transform: translateY(-5px);
  }
}

.arrow-up {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;

  &:before,&:after {
    content: '';
    position: absolute;
    top: 100%;
    width: 50%;
    box-sizing: border-box;
  }

  &:after {
    left: 50%;
    border-top: 1rem solid #6271ec;
    border-left: 1rem solid transparent;
  }

  &:before {
    right: 50%;
    border-top: 1rem solid #6271ec;
    border-top: 1rem solid #6271ec;
    border-right: 1rem solid transparent;
  }

  .arrow-button {
    transform: translateY(-5px);
  }
}

.arrow-offset {
  position: relative;
  top: 80px;
  float: left;
  display: block;
  width: 100%;
}