@import url('https://fonts.googleapis.com/css?family=Dosis');
@import "arrows";
@import "google-maps";
@import "national-park";

$blue: #6271ec;
$grey: #2c2b31;

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

html, body, #app {
  font-family: 'Dosis', sans-serif;
}

.round-icon {
  color: $grey;
  background: $blue;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  margin: 3rem 1rem 2rem 1rem;
}

.dark {
  background-color: $grey;
  color: whitesmoke;
  transition: .25s;

  h1, h2, h3 {
    color: whitesmoke;
  }

  h2 {
    z-index: 4;
    color: #ccc;
    margin: 0.25rem;
  }
}

.navbar {
  margin: 0;
  font-size: 1.3rem;
}

#app {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: 600ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: 600ms ease-in;
}

.spin-enter {
  transform: translateX(-100vw) rotate(-180deg);
}

.spin-enter.spin-enter-active {
  transition: 600ms ease-in;
  transform: translateX(0) rotate(0deg);
}

.spin-exit {
  transform: translateX(0) rotate(0deg);
}

.spin-exit.spin-exit-active {
  transition: 600ms ease-in;
  transform: translateX(100vw) rotate(180deg);
}

.navbar {
  span {
    position: relative;
    display: inline-block;
    padding: 15px 15px;
    line-height: 20px;
    white-space: nowrap;
  }
}
.contact-block {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 999999;
}

.colored {
  z-index: 999;
  background: #1d2226;
}

.app-body {
  position: absolute;
  width: 100%;
}

.contact-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;

  i {
    &:hover {
      color: white;
    }
  }
}

.contact-container {
  width: 70%;
  max-height: 66%;
  margin: auto;
}

.footer {
  background: $grey;
  color: whitesmoke;
  display: inline-block;
  width: 100%;
  padding-top: 25px;
  position: absolute;

  a {
    &:active, &:hover {
      color: $grey;
    }
  }
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: .875rem;
}

h1 {
  color: whitesmoke;
  font-size: 5rem;
  margin-bottom: 6rem;
}

h2 {
  font-size: 4.25rem;
  line-height: 1;
  font-weight: 100;

  span {
    color: whitesmoke;
  }
}

h3 {
  font-size: 3rem;
  line-height: 1;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 1.8rem;
}

.home-icons {
  text-align: center;
  background: rgb(239, 240, 253);

  h3 {
    margin-bottom: 2rem;
  }

  div {
    p {
      color: grey;
      margin-bottom: 2rem;
    }
  }

  p {
    margin-bottom: 4rem;
  }
}

.thumbnail-image {
  background-size: contain;
  height: 150px;
}

.nav {
  li {
    width: 33%;
    display: inline-block;
    text-align: center;
    color: #777;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }
}

.home {
  height: auto;
  background: $grey;
  width: 100%;

  .hero {
    height: auto;
    min-height: calc(100vh - 50px);
    background: $grey;

    h1 {
      padding-top: 5rem;
      margin-bottom: 2rem;
    }
  }

  ul {
    list-style-type: square;
    direction: rtl;
    padding: 0;
  }

  .header {
    color: white;
    text-align: center;
    position: relative;

    span {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1;
    }
  }
}

.hero-container {
  position: relative;

  .arrow {
    position: absolute;
    background: $blue;
    height: 50px;
    bottom: 0;

    &:after {
      border-bottom: 1rem solid $blue;
      border-left: 1rem solid transparent;
    }

    &:before {
      border-bottom: 1rem solid $blue;
      border-bottom: 1rem solid $blue;
      border-right: 1rem solid transparent;
    }
  }
}

.iphone-grid {
  div {
    margin-bottom: 7rem;

    div {
      margin-bottom: 0;
    }
  }
}

.iphone-grid-image {
  height: 100%;

  img {
    width: 80vw;
    max-width: 300px;
  }
}

.escher {
  position: relative;
  margin: 2rem auto 10rem auto;
  display: inline-block;
}

.pause {
  position: absolute;
  top: 100%;
  left: 100%;
  color: red;
  transform: translate(-100%, -100%);
  cursor: pointer;
}

.align-right {
  text-align: right;
}

.justify {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transform-center {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.hero {
  width: 100%;
  background-size: cover;
  position: relative;
  height: auto;
}

.container {
  margin: 0;
  padding: 7rem 1rem 9rem 1rem;
  overflow: visible;
  position: relative;
  width: 100%;

  &:before {
    content: "";
    display: table;
    line-height: 0;
  }
}

.content-div {
  max-width: 75rem;
  margin: auto;
  position: relative;
  display: flex;

  p {
    column-count: 2;

    span {
      font-size: 2rem;
      line-height: 0;
      font-weight: 600;
    }
  }

  h1 {
    padding-bottom: 2rem;
    line-height: 1;
    margin-bottom: 2rem;
    border-bottom: 1px dashed white;
  }

  h2 {
    display: inline-block;
    font-weight: 600;
    margin: 5rem 0 0 5rem;
  }
}

.text-center {
  text-align: center;
}

.icon-grid {
  max-width: 75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  grid-gap: 5rem;

  div {
    text-align: center;
  }

  i {
    color: $blue;
    margin-bottom: 0.75rem;
  }
}

.learn-more {
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.button {
  background: rgba(28, 36, 78, 0);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 0 1rem;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 2.6rem;
  transition-duration: 0.3s;
  border: 2px solid white;
  transform: translateY(-0.5rem);

  &:hover {
    background: white;
    color: $blue;
    transition-duration: 0.3s;
  }

  &:before {
    content: '';
  }

  &:after {
    content: '';
  }
}


:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#loxo-sphere {
  display: table;
  margin: auto;

  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: all-scroll;
  }
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bold {
  font-weight: 600;
}

.svg-container {
  width: 100%;
  background-size: cover;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 50px);
}

.contact-inner {
  height: 100vmin;
  width: 100vmin;
  border-radius: 50%;
  max-width: 768px;
  max-height: 768px;
  background: rgb(98, 113, 236);
  position: relative;
  color: white;
  text-align: center;
  z-index: 99;

  i {
    color: white;
  }

  .contact-icon {
    position: absolute;
    top: 5vmin;
    cursor: pointer;
    right: 5vmin;
  }
}

.content-image {
  display: flex;
  max-width: 60rem;
  margin: auto;
  text-align: right;

  h2 {
    font-size: 2.5rem;
  }

  img {
    width: 80vw;
    max-width: 320px;
  }
}

.content-facts {
  display: grid;
  grid-template-rows: 1fr 1fr;

  div {
    display: flex;
    align-content: center;

    div {
      display: flex;
      flex-direction: column;
    }
  }
}

.form-transparent {
  background: transparent;
  color: white;
  border: 2px solid;
  font-size: 1.4rem;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: white;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: white;
  }
}

.light {
  background: #eff0fd;
  color: $grey;

  h3 {
    margin-bottom: 3rem;
  }

  i {
    margin: 2rem;
    font-size: 5rem;
    display: inline-flex;
    color: $blue;
  }
}

@media (max-width: 767px) {
  .content-image {
    flex-direction: column;
  }
  .container {
    padding: 4rem 1rem;
  }

  .home {
    .hero {
      h1 {
        padding-top: 5rem;
      }
    }
  }

  .content-image {
    text-align: center;
    grid-template-columns: 1fr;

    h2 {
      font-size: 2rem;
    }
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2rem;
  }

  .recent-work {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .icon-grid {
    grid-template-columns: 1fr;
    margin: auto;
    grid-gap: 2rem;
  }

  h1 {
    font-size: 3.5rem;
    margin-bottom: 0;
  }

  h4 {
    font-size: 2rem;
  }
}

.form-control:focus {
  border-color: white;
  outline: 0;
}
